html{
  scroll-behavior: smooth;
}

body{
  background-image : url(../images/Wallpaper2.png);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: auto;
}

section{
  margin-top: 100px;
  padding-top : 10vh;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:hover{
  text-decoration: underline !important;
}


.navbar{
  margin-bottom: 0;
  background-color: rgba(54, 158, 166, 0.55) !important; 
  backdrop-filter: blur(7px) !important;
  border: 0;
}

.navbar a{
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 23px;
}

.h1Font{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10vw;
  letter-spacing: 0.7em;
  margin-right: -0.7em;
  color: rgba(255, 255, 255, 0.7);
}

.h1Fontpage2{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 6vw;
  letter-spacing: 0.72em;
  margin-right: -0.72em;
  color: rgba(255, 255, 255, 0.7);
}

.h2Fontpage2{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 3vw;
  line-height: 1em;
  margin-top: 3vw;
  margin-left: 6vw;
  margin-right: 6vw;
  color: rgba(255, 255, 255, 0.7);
}

.homeFont{
  position: absolute;
  top: 9%;
  width: 50%;
  z-index: -10;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15vw;
  line-height: 260px;

  color: rgba(255, 255, 255, 0.5);

}

.homeFont2{
  position: absolute;
  top: 18%;
  left: 55%;
  z-index: -9;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14vw;
  line-height: 260px;

  color: rgba(255, 255, 255, 0.5);

}
.h2Font{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 5vw;
  line-height: 1em;
  margin-top: 3vw;
  margin-left: 6vw;
  margin-right: 6vw;
  color: rgba(255, 255, 255, 0.7);
}

.h3Font{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 4vw;
  margin-top: 3vw;
  color: rgba(255, 255, 255, 0.7);
}

.h4Font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 4vw;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.7);
}

.aFont {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 250%;
  line-height: 1em;
  margin-top: 3vw;
  color: rgba(255, 255, 255, 0.7);
}

.gallery{
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width : auto;
  height : 370px;
}

.svgStyle{
  width: 4vw;
  height: 4vw;
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  body{
    background: #A6E0E4;
  }

  section{
    margin-top: 0;
  }

  .gallery{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width : auto;
    height : 200px;
  }
}


